body{
    margin: 0;
}

.background{
    background-color: #121212;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Browser-container{
    width: 380px;
    height: 500px;
}

.slick-slide {
    width: 320px;
    height: 320px;
    border: 20px solid white;
    box-sizing: border-box;
}

.slick-slide img {
    object-fit: cover;
    height: 320px;
    width: 320px;
    box-sizing: border-box;
}